* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #F4F6FF;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    width: 400px;
    background: linear-gradient(#FEA3A3, #BFD1FF);
    padding: 60px 20px;
    border-radius: 30px;
  }
  
  .container .song-info {
    margin: 0 15px;
    padding: 220px 15px 45px;
  }
  
  .container .song-info .song-name {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
  
  .container .song-info .artist-name {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 10px 0 30px;
  }
  
  .container .song-info .progress-bar {
    background: linear-gradient(to right, #FFA8A8, #C48EFF);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .container .song-info .progress-bar .fill-bar {
    width: 0;
    height: 6px;
    border-radius: 20px;
    background-color: #fff;
  }
  
  .container .song-info .song-time {
    display: flex;
    justify-content: space-between;
  }
  
  .container .song-info .start-time,
  .container .song-info .end-time {
    font-size: 12px;
    color: #828282;
    margin: 10px 0;
  }
  
  .container .disk {
    max-width: 120px;
  }
  
  .container .disk .active {
    animation: rotate 3s linear 0s infinite forwards;
  }
  
  .container .disk .cover {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 37px;
    left: 113px;
    background: url("assets/1.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  
  .container .disk .circle {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 47%;
    top: 23%;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
  }
  
  .container .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .container .controls #play {
    background-color: hsl(239, 100%, 80%);
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .container .controls #play:hover {
    background: #7375ff;
  }
  
  .controls img {
    cursor: pointer;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }